.littleSquare{
    width: 2rem;
    height: 2rem;
    background-color: rgb(220, 132, 247);
   
  }

  .littleSquare2{
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 170, 11);
   
  }

  .littleSquare3{
    width: 2rem;
    height: 2rem;
    background-color: rgb(104, 60, 112);
   
  }

  .littleSquare4{
    width: 2rem;
    height: 2rem;
    background-color: rgb(250, 46, 189);
   
  }
  
  .littleSquare5{
    width: 2rem;
    height: 2rem;
    background-color: rgb(74, 47, 82);
   
  }

  .littleSquare6{
    width: 2rem;
    height: 2rem;
    background-color: rgb(17, 17, 17);
   
  }
  
  .buttons{
    font-size: 1.5rem;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border: solid rgb(155, 153, 153) 0.05rem;
  }
  /**/
  
  
  
  @media (min-width: 1024px) {
    .about {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
  }
  
  .content{
  
    display: flex;
  }
  
  
  .squaresBox{
    display: flex;
    max-width: 20rem;
    flex-wrap: wrap;
    gap: 0.4rem;
    position: fixed;
    right: 20%;
    top:20%;
  
  }

    
 
  