
.contenido{
    display: flex;
    height: fit-content;
    gap: 2rem;
    font-size: 1rem;
  }
  
  .botones{
    border: solid rgb(155, 153, 153) 0.05rem;
    padding-inline: 1.1rem;
    color: rgb(46, 45, 45);
    background-color: rgb(243, 239, 239);
    font-size: 1.5rem;
    
  }


  .botones:hover{
    background-color: rgb(209, 205, 208);
 
  }
  
  .botones2{
    border: solid rgb(155, 153, 153) 0.05rem;
    
    border-radius: 1rem;
    padding: 0.5rem;
    color: rgb(46, 45, 45);
    background-color:none;
    font-size: 1rem;
    width: fit-content;
    padding-inline: 1.5rem;
    
  }
  
  .ejemplo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;}
  
  .countNumber{
    font-size: 1.8rem;
  }
  
  @media (min-width: 1024px) {
    .about {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
  }